# Compiled class file
spring/*.class
spring/target

# Log file
spring/*.log

# BlueJ files
spring/*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
spring/*.jar
spring/*.war
spring/*.nar
spring/*.ear
spring/*.zip
spring/*.tar.gz
spring/*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*

.vscode
